#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.full-bleed {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.logo {
  height: 2em;
  padding: .5em;
  will-change: filter;
  transition: filter 300ms;
}

.playcanvas-logo {
  border-radius: 100%;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.overlay {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.overlay > .grow {
  flex-grow: 1;
}

.pill {
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

